<h1>Create a new vault</h1>

<div name="form_new_vault">
  <%= form_tag(glacier_create_vault_path, method: :post) do %>
    <%= label_tag(:vault_name, "Vault Name:") %><br />
    <%= text_field_tag(:vault_name) %><br />
    <%= submit_tag("Start") %>
  <% end %>
</div>
